{% extends 'base.html.twig' %}

{% block title %}Оценки{% endblock %}

{% block body %}
    <h1>Оценки</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО ученика</th>
                <th>Название предмета</th>
                <th>Оценка</th>
                <th>действия</th>
            </tr>
        </thead>
        <tbody>
        {% for smark in smarks %}
            <tr>
                <td>{{ smark.id }}</td>
                <td>{{ smark.sstudentID }}</td>
                <td>{{ smark.ssubjectID }}</td>
                <td>{{ smark.mark }}</td>
                <td>
                    <a href="{{ path('app_smarks_show', {'id': smark.id}) }}">показать</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_smarks_edit', {'id': smark.id}) }}">редактировать</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">записи не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_smarks_new') }}">Добавить</a>
    {% endif %}
{% endblock %}
